<%- include('template/header'); -%>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand navbar-text">Atras</a>

    <span class="navbar-brand  mb-0 h1">Aulas</span>
</nav>


<div class="container">
    <div class="row" style="margin-top:1em;">
            <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                                <form id="form_aula" style="margin-top: 1em; margin-bottom: 1em;">
                                        <div class="form-group">
                                          <label>Nombre</label>
                                          <input type="text" name="nombre" class="form-control">
                                        </div>
                                        </form>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-7">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>N</th>
                                                <th>Nombre</th>
                                                <th></th>
                                           </tr>
                                                </thead>
                                            <tbody>
                                      <% for(var i=0; i<query.length; i++){ %>
                                    <tr>
                                        <td><%= i + 1 %></td>
                                        <td><%= query[i].nombre %></td>
                                        <td ><a href="/eliminaraula/<%= query[i]._id %>" class="btn btn-danger" style="margin-left: 1em;">Eliminar</a></td>
                                        <!--<td>
                                                <a href="#" class="btn">Done</a>
                                                <a href="#" class="btn btn-danger">Delete</a>
                                                <a href="#" class="btn btn-info">Edit</a>
                                            </td>-->
                                    </tr>
                                    
                                      <% } %>
                                            </tbody>
                                    </table> 
                                                </div>
    </div>
   
        <button type="button" onclick="registrar_aula()" class="btn btn-primary btn-block">Guardar</button>

</div>
<script>

    registrar_aula= () => {
            $.ajax({
            url:'/aula',
            method:'post',
            data:$('#form_aula').serialize(),
            success:(data)=>{
                    alert(data.message);
                    location.reload();
            },
            error:(err)=>{
    
            }
            
    });
    }
 
    </script>
<%- include('template/footer'); -%>
