<%- include('template/header'); -%>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand navbar-text">Atras</a>

    <span class="navbar-brand  mb-0 h1">Clases</span>
</nav>


<div class="container">
    <div class="row" style="margin-top:1em;">
        <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form id="form_clases" style="margin-top: 1em; margin-bottom: 1em;">
                            <div class="form-group">
                              <label>Nombre</label>
                              <input type="text" name="nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Asignatura</label>
                                <select class="custom-select" name="asignatura">
                                   <% for(var i=0; i<asignatura.length; i++) {%>
                                           <option value="<%=asignatura[i].nombre%>"><%=asignatura[i].nombre%></option>
                                   <%}%>                
                            </select>
                                </div> 
                                  <div class="form-group">
                                      <label>Profesor</label>
                                      <select class="custom-select" name="profesor">
                                         <% for(var i=0; i<profesor.length; i++) {%>
                                                 <option value="<%=profesor[i].nombre%> <%=profesor[i].apaterno%> <%=profesor[i].amaterno%>"><%=profesor[i].nombre%> <%=profesor[i].apaterno%> <%=profesor[i].amaterno%></option>
                                         <%}%>                
                                  </select>
                                      </div>  
                                      <div class="form-group">
                                          <label>Grupo</label>
                                          <select class="custom-select" name="grupo">
                                             <% for(var i=0; i<grupo.length; i++) {%>
                                                     <option value="<%=grupo[i].nombre%>"><%=grupo[i].nombre%></option>
                                             <%}%>                
                                      </select>
                                          </div>  
                                          <div class="form-group">
                                              <label>Grado</label>
                                              <select class="custom-select" name="grado">
                                                 <% for(var i=0; i<grado.length; i++) {%>
                                                         <option value="<%=grado[i].nombre%>"><%=grado[i].nombre%></option>
                                                 <%}%>                
                                          </select>
                                              </div>  
                                              <div class="form-group">
                                                  <label>Turno</label>
                                                  <select class="custom-select" name="turno">
                                                             <option value="matutino">Matutino</option>
                                                             <option value="matutino">Vespertino</option>
                                              </select>
                                                  </div> 
                                                  <div class="form-group">
                                                        <label>Hora</label>
                                                        <input type="text" name="hora" class="form-control">
                                                      </div>
                                                      <button type="button" onclick="registrar_clases()" class="btn btn-primary btn-block">Guardar</button>
                    
                            </form>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-7">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>N</th>
                                    <th>Nombre</th>
                                    <th>Asignatura</th>
                                    <th>Profesor</th>
                                    <th>Grupo</th>
                                    <th>Grado</th>
                                    <th>Turno</th>
                                    <th>Hora</th>
                                    <th></th>

                               </tr>
                                    </thead>
                                <tbody>
                          <% for(var i=0; i<query.length; i++){ %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= query[i].nombre %> </td>
                            <td><%= query[i].asignatura %></td>
                            <td><%= query[i].profesor %> </td>
                            <td><%= query[i].grupo%></td>
                            <td><%= query[i].grado%></td>
                            <td><%= query[i].turno%></td>
                            <td><%= query[i].hora%></td>


                            <td><a href="/eliminarclases/<%= query[i]._id %>" class="btn btn-danger" style="margin-left: 1em;">Eliminar</a></td>
                            <!--<td>
                                    <a href="#" class="btn">Done</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                    <a href="#" class="btn btn-info">Edit</a>
                                </td>-->
                        </tr>
                        
                          <% } %>
                                </tbody>
                        </table> 
                                    </div>
                    </div>
   
</div>
<script>

    registrar_clases= () => {
            $.ajax({
            url:'/clases',
            method:'post',
            data:$('#form_clases').serialize(),
            success:(data)=>{
                    alert(data.message);
                    location.reload();
            },
            error:(err)=>{
    
            }
    });
    }
    
    </script>
<%- include('template/footer'); -%>
